@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #dedcdc;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 20px 10px 20px 10x;
  padding: 10px 20px;
}

header {
  width: 100%;
}

.menu__lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu__lista li {
  float: left;
}

.menu__lista li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu__lista li a:hover {
  background-color: #04aa6d;
  color: #000;
}

.mainprincipal {
  padding: 10px 20px;
}

.mainprincipal_main_imagen {
  width: 100%;
}

footer {
  background-color: #333;
  color: white;
}

p {
  padding: 10px 20px;
}
